@import "libs/normalize.css";
@import "libs/common.css";

.sound {
  outline: none;
}

.star-wars {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 800px;
  bottom: 200px;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(30deg);
}

.star-wars-wrapper {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear infinite;
}

.star-wars__title,
.star-wars__subtitle {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  color: gold;

}

.star-wars__text {
  text-align: justify;
  color: gold;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.6px;
}

.star-wars__text:first-child {
  margin-bottom: 40px;
}

@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

