@import "libs/common.css";

.site-header {
  padding: 47px 0 50px;
}

.logo {
  margin: 0 0 40px;
}

.logo__link {
  font-size: 80px;
  line-height: 94px;
  color: var(--color-secondary);
}

.logo__link--focus {
  color: var(--color-accent);
}

.js-switch {
  position: absolute;
  top: 7%;
  right: 30%;
  width: 100px;
  height: 50px;
  background-color: var(--color-accent);
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.header-nav__list,
.main-content,
.aside-nav__list,
.site-footer,
.footer-nav__list {
  display: flex;
}

.header-nav__list {
  justify-content: flex-end;
  background-color: #35444f;
}

.header-nav__item,
.aside-nav__item,
.aside-nav__link,
.pangram-desc__img,
.footer-nav__link {
  transition: all 0.2s linear;
}

.header-nav__item {
  padding: 24px 32px 18px;
  border-left: 1px solid var(--color-primary);
}

/*
Over engineering block, but still for perfectionism.
Also amended justify-content property in .header-nav__list from center to flex-end for this case.
*/

.header-nav__item:nth-child(2) {
  padding-right: 38px;
  padding-left: 38px;
}

.header-nav__item:nth-child(3),
.header-nav__item:last-child {
  padding-left: 40px;
  padding-right: 40px;
}

.header-nav__item:last-child {
  padding-right: 150px;
}

/* END of over engineering block */

.header-nav__item:hover {
  background-color: #222f3a;
}

.header-nav__link {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-primary);
}
.main-content,
.site-footer,
.footer-nav__list {
  justify-content: space-between;
}

.main-content {
  padding-bottom: 51px;
}

.nav-bar {
  width: 344px;
  align-self: flex-start;
  border: 1px solid var(--color-secondary);
}

.aside-nav__list {
  flex-direction: column;
}

.aside-nav__item {
  padding: 27px 0 27px 38px;
}

.aside-nav__item:hover {
  background-color: #dbdbdb;
}

.aside-nav__item:hover .aside-nav__link {
  color: var(--color-secondary);
  transform: translate(30px, 0);
}

.aside-nav__link {
  font-size: 27px;
  line-height: 27px;
  color: var(--font-color);
}

.pangram-desc {
  width: 885px;
}

.pangram-desc__wrap {
  height: 529px;
  margin-bottom: 37px;
  border: 1px solid var(--color-secondary);
}

.pangram-desc__img-wrap {
  padding: 75px 268px 73px 297px;

}

.pangram-desc__img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.pangram-desc__text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}

.pangram-desc__text:not(:last-child) {
  margin-bottom: 34px;
}

.site-footer {
  align-items: center;
  margin-bottom: 34px;
  padding: 20px 40px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-nav__list {
  min-width: 928px;
}

.footer-nav__item:last-child {
  margin-right: 45px;
}

.footer-nav__link {
  position: relative;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}

.footer-nav__link::after {
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 1px;
  margin-top: 12px;
  background-color: #3181A6;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  color: #3181A6;
}

.footer-nav__link:hover::after,
.footer-nav__link:focus::after {
  display: block;
}

.legal-info {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}



