.clients-wrapper {
  background: no-repeat fixed center/cover url("../../img/clients-bg.jpeg");
}

.clients-overlay {
  background-color: rgba(0, 0, 0, .25);
}

.clients {
  padding: 108px 0 183px;
  text-align: center;
}

.clients__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.clients__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 87px auto 0;
  background-color: #18B4CF;
}

.clients__img-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}