.posts-gallery {
  padding: 45px 0 72px;
  text-align: center;
  background-color: #F2F2F2;
}

.section-title,
.gallery-item__desc-title {
  font-weight: bold;
}

.gallery-item-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  height: 825px;
}

.gallery-item:nth-last-child(n+4) {
  margin-bottom: 32px;
}

.gallery-item__desc {
  padding: 14px 0 22px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.gallery-item__desc-title {
  font-size: 18px;
  line-height: 25px;
  color: #353A3D;
}

.gallery-item--second {
  order: 3;
}

.gallery-item--third {
  order: 5;
}

.gallery-item--fourth {
  order: 2;
}

.gallery-item--fifth {
  order: 4;
}

.gallery-item--sixth {
  order: 6;
}
