html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
   width: 350px;
  padding: 10px;
  background-color: gold;
}

.form-label {
  margin-right: 10px;
}

.form-input:focus {
  outline: none;
}

.form-input {
  padding: 10px 5px;
  font-weight: bold;
  border: 3px solid transparent;
  border-radius: 3px;
}

.form-input::placeholder {
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  color: #333;
}