.posts-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 35px 55px;
}

.posts-gallery-wrap {
  display: block;
  text-decoration: none;
}

.posts-gallery-wrap {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      #fff,
      rgba(0, 0, 0, 0)
  ) 1 100%;
  border-top: none;
  border-bottom: none;
}

.gallery-item__wrap {
  position: relative;
}

.gallery-item__link {
  height: 220px;
}

.gallery-item__link--shopping {
  background: top url("../../img/shopping-img.jpg");
}

.gallery-item__link--sightseeing {
  background: top url("../../img/sightseeing-img.jpg");
}

.gallery-item__link--food {
  background: top right url("../../img/food-img.jpg");
}

.gallery-item__link--bars {
  background: top url("../../img/bars-img.jpg");
}

.gallery-item__link--art {
  background: top url("../../img/art-img.jpg");
}

.gallery-item__link--walking {
  background: top right url("../../img/walking-img.jpg");

}

.gallery-item:hover .gallery-item__overlay {
  opacity: 1;
  transform: translateY(-55px);
  transition: all 0.3s linear;
}

.gallery-item:hover .gallery-item__desc-title {
  color: #f26522;
}

.gallery-item__desc {
  text-align: center;
  padding-top: 23px;
}

.gallery-item__overlay {
  position: absolute;
  width: 100%;
  padding: 7px 15px 12px 16px;
  background-color: #f26522;
  transition: all 0.2s linear;
  opacity: 0;
}

.gallery-item__overlay--text {
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
}

.gallery-item__overlay-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.overlay-price--value {
  font-size: 20px;
  line-height: 20px;
}

.overlay-price__link {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.overlay-price__link::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  margin-left: 16px;
  background: url("../../img/icons/right-vector-icon.svg");
  transition: all 0.2s linear;
}

.gallery-item__desc-title {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  transition: all 0.2s linear;
}