.site-header {
  display: flex;
  justify-content: space-between;
  padding: 46px 0 17px;
}

.site-header__title {
  margin: 0;
}

.site-header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  margin-right: 8px;
}

.logo-text {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}


.logo-text:hover,
.site-header__contacts-email:hover,
.site-header__contacts-tel:hover {
  color: #f26522;
}


.site-header__logo:hover .logo-img {
  content: url("../../img/icons/logo-icon-hover.png");
}

.site-header__logo:hover .logo-text {
  color: #f26522;
}

.logo-text--first-word {
  display: block;
  margin-bottom: 2px;
  font-size: 29px;
  line-height: 29px;
  transition: all 0.2s linear;
}

.logo-text--second-word {
  display: block;
  font-size: 18px;
  line-height: 18px;
  transition: all 0.2s linear;
}

.site-header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.site-header__contacts-email,
.site-header__contacts-tel {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
}


