.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 58px);
}

.modal {
  position: relative;
  padding: 26px 60px 38px;
  background-color: #fff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.modal::before {
  content: '';
  position: absolute;
  top: 29px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.modal-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-reg__sign {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.modal-reg__log {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
  transition: all 0.2s linear;
}

.modal-reg__log:hover {
  color: #01813f;
  text-decoration: underline;
}


.modal-socials {
  display: flex;
  margin-bottom: 29px;
}

.socials-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.2s linear;
}

.facebook-btn {
  padding: 9px 21px 9px 10px;
  margin-right: 8px;
  background-color: #305db8;
}

.facebook-btn:hover {
  background-color: #022263;
}

.google-btn {
  padding: 9px 26px 9px 10px;
  background-color: #df4a32;
}

.google-btn:hover {
  background-color: #ab1f09;
}

.socials-btn__text {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.socials-btn__icon-wrap {
  display: flex;
  align-items: center;
}

.socials-btn__icon-wrap::after {
  content: '';
  width: 1px;
  height: 28px;
  /*margin: 0 18px 0 13px;*/
  background-color: #0a162f;
  opacity: 0.1;
}

.socials-btn__icon-facebook {
  margin-right: 13px;
}

.socials-btn__icon-google {
  margin-right: 7px;
}

.socials-btn__text--facebook {
  margin-left: 18px;
}

.socials-btn__text--google {
  margin-left: 30px;
}

.modal-alternative {
 position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.modal-alternative::before,
.modal-alternative::after {
  position: absolute;
  top: 55%;
  content: '';
  display: inline-block;
  width: calc((100% / 2) - 8px);
  height: 1px;
  background-color: #f2f2f2;
}

.modal-alternative::before {
  right: 0;
}

.modal-alternative::after {
  left: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  padding: 13px 20px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.modal-form__input::placeholder {
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.modal-form__input:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.modal-form__input:focus::placeholder {
  color: #434343;
}

.modal-form__checkbox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.modal-form__checkbox-mark {
  display: none;
}

.modal-form__checkbox-mark:checked ~ .modal-form__checkbox-imitation svg {
  opacity: 0;
}

.modal-form__checkbox-imitation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 8px;
}

.modal-form__checkbox-imitation svg {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.modal-form__checkbox-legal {
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.modal-form__checkbox-link {
  color: #3cb878;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.2s linear, border-bottom-color 0.2s linear;
}

.modal-form__checkbox-link:hover {
  color: #01813f;
  border-bottom-color: #01813f;
}

.modal-form__submit {
  display: block;
  margin: 0 auto;
}

.modal-form__submit {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.modal-form__submit:hover {
  background-color: #01813f;
}
