.site-header {
  padding: 17px 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.site-header__title {
  font-size: 0;
}

.site-header__logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s linear;
}

.site-header__logo:hover {
  color: #3cb878;
}

.site-header__nav {
  display: flex;
  align-items: center;
}

.site-header__icons {
  display: flex;
  align-items: center;
}

.site-header__icons-link {
  margin-right: 25px;
}

.site-header__icons-svg {
  display: block;
}

.site-header__icons-svg path {
  transition: fill 0.2s linear;
}


.site-header__icons-link:hover .site-header__icons-svg path {
  fill: #3cb878;
}

.site-header__icons::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 19px;
  margin-right: 27px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}


.site-header__reg {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.site-header__reg-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s linear;
}

.site-header__reg-link:hover {
  color: #3cb878;
}