@import "libs/common.css";

.site-header {
    padding: 25px 0;
}

.main-nav__list {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    list-style: none;
}

.main-nav__item:not(:last-child) {
    margin-right: 72px;
}

/*not the best practice, but still for perfectionism */
.main-nav__item:nth-child(3) {
    margin-right: 50px;
}

.main-nav__link,
.main-content__title,
.action-btn,
.legal-info__copyright {
    font-weight: bold;
}

.main-nav__link,
.action-btn,
.main-content__title {
    text-transform: uppercase;
}

.main-nav__link,
.action-btn {
    text-decoration: none;
    transition: all 0.2s linear;
}

.main-nav__link {
    font-size: 18px;
    line-height: 18px;
    color: #ff0000;
    letter-spacing: 2.7px;
}

.main-nav__link:hover,
.main-nav__link:focus {
    color: #373737;
    border-bottom: 1px solid #373737;
}

.main-content {
    padding: 48px 67px 42px;
    text-align: center;
}

.main-content__title,
.main-content__description,
.legal-info__copyright {
    color: #373737;
}

.main-content__title {
    margin-bottom: 38px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
}

.main-content__description,
.legal-info__copyright {
    font-size: 16px;
}

.main-content__description {
    margin-bottom: 28px;
    padding: 2px 0;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main-content__description:nth-last-child(2) {
    margin-bottom: 66px;
    padding: 6px 0;
}

.action-btn {
    display: inline-block;
    padding: 18px 43px 17px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 4px
}

.action-btn:hover,
.action-btn:focus {
    color: #ff0000;
    background-color: #373737;
}

.legal-info {
    padding: 40px 105px 29px 0;
    text-align: right;
}

.legal-info__copyright {
    padding: 10px 0;
    line-height: 20px;
    letter-spacing: 2.4px;
}