.hero-block-wrapper {
  background: no-repeat fixed center/cover url("../../img/city-header-bg.jpeg");
}

.hero-block-overlay {
  background-color: rgba(0, 0, 0, .25);
}

.hero-block {
  padding: 227px 0 74px;
  text-align: center;
}

.site-title {
  margin: 0 0 44px;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #fff;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

