.link-btn {
  width: 170px;
  padding: 13px 0 17px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  background-color: #89ca62;
  border-radius: 4px;
  transition: all .2s linear;
}

.link-btn--blue {
  margin-left: 20px;
  background-color: #14b9d5;
}

.link-btn:hover,
.link-btn:focus {
  background-color: #fff;
  color: #000;
}