.news {
  padding: 44px 0 77px;
  text-align: center;
}

.news-item-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px 35px;
}

.news-item {
  display: flex;
  flex-wrap: wrap;
}

.item-1 {
  grid-column: 1 / 4;
}

.item-2 {
  grid-column: 4;
}

.item-3,
.item-5 {
  grid-column: 1 / 3;
}

.item-4,
.item-6 {
  grid-column: 3 / 5;
}

.item-7 {
  grid-column: 1 / 2;
}

.item-8 {
  grid-column: 2 / 5;
  grid-row: 4;
}

.news-item__desc {
  padding: 12px 13px 0;
}

.news-item__desc {
  text-align: right;
  background: #F9F7F7;
}

.new-item__desc-title {
  margin-bottom: 10px;
}

.news-item__desc-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.narrow-block {
  width: 100%;
  text-align: center;
}

.wide-block {
  max-width: 385px;
  padding: 39px 24px 0 14px;
}
