.site-footer-wrap {
  background-color: #000;
}

.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 27px 0;
}

.site-footer__legal {
  font-size: 13px;
  line-height: 13px;
  color: #fff;
}

.site-footer__logo {
  display: block;
  width: 105px;
  height: 25px;
  justify-self: flex-end;
  background: no-repeat center url("../../img/icons/footer-logo.png");
}

