.site-header,
.main-nav__list,
.logo {
  display: flex;
}

.site-header,
.main-nav__list {
  justify-content: space-between;
}

.site-header,
.logo {
  align-items: center;
}

.site-header {
  padding-left: 29px;
  background-color: #313131;
}

.main-nav__list {
  min-width: 722px;
}

.logo,
.main-nav__link {
  color: #fff;
  transition: all .2s linear;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.logo::before {
  content: '';
  display: block;
  height: 27px;
  width: 27px;
  margin-right: 37px;
  background: no-repeat center url("../../img/icons/header-logo.png");
}

.main-nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.main-nav__link:hover,
.main-nav__link:focus,
.logo:hover,
.logo:focus {
  color: #14b9d5;
}